# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build

on:
  push:
    branches: ['*']
    tags: ['*']
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['16.x', '18.x']
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: modules-cache-v1-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - run: yarn install
      - run: yarn test
      - run: yarn build
      - name: save the built
        uses: actions/upload-artifact@v3
        if: "!failure()"
        with:
          retention-days: 1
          name: the-built
          path: |
            dist/
            docs/
            src/

  publish:
    name: 'Publish npm package'
    runs-on: ubuntu-latest
    needs:
      - build
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          tag_name: 'v%s'
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@geolonia'
      - name: load the built
        uses: actions/download-artifact@v2
        with:
          name: the-built
      - name: 'Publish to NPM'
        run: npm publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
